body {
    margin: 0;
    padding: 0;
    background-color: #10010ef0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    
}
  
  .hero {
    display: flex;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: left;
  }
  

  .content {
    max-width: 800px;
  }
  
  h1 {
    font-size: 10rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin: 0 0 2rem;
    color: #fff;
   
}

  
p {
    font-size: 1rem;
    line-height: 1.6;
    color:  white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
   
}
  
  a {
    color: white;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #f61ff2;
  }
  

.btn {
  background: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease; 
}


.btn:hover {
  transform: translateX(10px); 
  color: #f61ff2;
}



  